
.container {
   display: grid;
   grid-template-columns: repeat( 2 , 1fr);
    gap:  50px;
}
/* css phần  CATEGORIES*/
.main {
    width: 300px;
}

.main h3 {
    font-size: 30px;
    color: #ccc;
    margin-left: 30px;
}   

.main h4 {
    background-color: black;
    color: white;
    padding-left: 15px;
    height: 40px;
    text-align: start;
    padding-top: 12px;   
}

.main p {
    margin-left: 30px;
    font-size: 18px;
    color: #ccc;
    cursor: pointer;
}

.main p:hover {
    color:  #eeddba;    
}

.main li {
    list-style: none;
   font-size: 20px;
}


 /* css  phần  hình ảnh*/

.title {
    display: grid;
    grid-template-columns: repeat( 4 ,1fr);
    padding-left: 20px;
    gap: 50px;
}

.img{
    width: 220px;
}

.link {
    text-decoration: none;
    font-size: 20px;
    color: #ccc;
    
}

.btn {
    background-color: black;
    width: 50px;
   text-align: center;
    color: #fff;
    padding: 10px;

}
